{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
文章详情
{% endblock title %}




{% block content %}
<div class="container">
    <div class="row">
        <h1 class="col-12 mt-4 mb-4">{{ article.title }}</h1>
        <div class="col-12 alert alert-success">作者：{{ article.author }}</div>
        * <a href="#" onclick="confirm_safe_delete()">删除文章</a>
        * <a href="{% url 'article:article_update' article.id %}">编辑文章</a>
        <form style="display:none;"
              id="safe_delete"
              action="{% url 'article:article_safe_delete' article.id %}"
              method="POST">
            {% csrf_token %}
            <button type="submit">发送</button>
        </form>
        <div class="col-12">
            <p>{{ article.body|safe }}</p>
        </div>
    </div>
</div>
<script>
    // 删除文章函数 版本一 不安全
    // function confirm_delete(){
    //     // 调用layer弹窗组件
    //     layer.open({
    //         // 弹窗标题
    //         title: "确认删除",
    //         // 弹窗内显示的内容
    //         content: "确认删除这篇文章吗？",
    //         // 点击确定后调用的回调函数
    //         yes: function (index, layero) {
    //             // 指定跳转的 URL
    //             location.href='{% url "article:article_delete" article.id %}'
    //         },
    //     })
    // }

    // 方法二 安全删除
    function confirm_safe_delete() {
        layer.open({
            title: "确认删除",
            content: "确认删除文章吗？",
            yes: function (index, layero) {
                $('form#safe_delete button').click();
                layer.close(index);
            }
        })
    }
</script>
{% endblock content %}